.videos {
	flex: 0.8;
	padding: 20px;
	margin: 10px 10px;
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
	.videos {
		flex: 1;
		padding: 5px 20px;
		margin: 10px 10px;
		display: flex;
		flex-wrap: wrap;
	}
}
